* {
    box-sizing: border-box;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
button {
  background: none;
  border: 0;
}
input {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
h1,h2,h3,h4,h5,h6 {
  color: white;
  margin: 0;
  width: 100%;
  text-align: left;
}
a {
  color: inherit;
}